{{#extend "mainLayoutPartial"}} 
{{#content "head" mode="append"}}
<!-- SWIPER SLIDER -->
<link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/layout-datatable.css" rel="stylesheet" type="text/css" />
{{/content}}
{{#content "loggedIn"}}
{{> settings_dropdown}} 
{{/content}}
{{#content "mainbody"}}
<section style="background:url('assets/images/demo/wall2.jpg')">
<div class="container">
<h3>ORDER HISTORY</h3>
<!-- HTML DATATABLE -->
<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
	<thead>
		<tr>
			<th>Order Number</th>
			<th>Name</th>
			<th>Delivery Address</th>
			<th>Status</th>
			<th>Date</th>
		</tr>
	</thead>

	<tbody>
	{{#if order}}
		{{#each order}}
		<tr>
			<td style="width:10%; vertical-align:middle">
				{{#if_eq ord_status 'saved'}}
				<div class="row">
				<div class="col-md-1">
				<a class="no-text-decoration size-13 margin-top-20 block" href="/order/{{ord_number}}">
				{{ord_number}}</a>
				</div>
				<div class="col-md-1">
				<a href="/order/{{ord_number}}"><i class="ico-light ico-rounded ico-hover et-edit"></i></a>
				</div>
				</div>
				{{else}}

					<div class="row">
				<div class="col-md-1">
				<a class="no-text-decoration size-13 margin-top-20 block" href="/order/{{ord_number}}">
				{{ord_number}}</a>
				</div>
				<div class="col-md-1">
				<a href="/order/{{ord_number}}"><i class="icon-copy ico-light ico-rounded ico-hover icon-2x"></i></a>
				</div>
				</div>
				{{/if_eq}}
				</td>
			<td style="vertical-align:middle">
				{{customer.name.first}}{{customer.name.last}}
			</td>
			<td style="vertical-align:middle">
				{{customer.address.adr_line1}},{{customer.address.adr_line2}}
			</td>
			<td style="vertical-align:middle">
				{{ord_status}}
			</td>
			<td style="vertical-align:middle">
				{{ordDate}}
            </td>
		</tr>
		{{/each}}
		{{/if}}
	</tbody> 
	
</table>
<section>
</section>
{{/content}}
{{#content "scripts" mode="append"}}
<script type="text/javascript">
	loadScript(plugin_path + "datatables/js/jquery.dataTables.min.js", function(){ 
			loadScript(plugin_path + "datatables/dataTables.bootstrap.js", function(){
				loadScript(plugin_path + "select2/js/select2.full.min.js", function(){

					if (jQuery().dataTable) {

					function restoreRow(oTable, nRow) {
					var aData = oTable.fnGetData(nRow);
					var jqTds = $('>td', nRow);

					for (var i = 0, iLen = jqTds.length; i < iLen; i++) {
					oTable.fnUpdate(aData[i], nRow, i, false);
					}

					oTable.fnDraw();
					}

					function editRow(oTable, nRow) {
					var aData = oTable.fnGetData(nRow);
					var jqTds = $('>td', nRow);
					jqTds[0].innerHTML = '<input type="text" class="form-control input-small" value="' + aData[0] + '">';
					jqTds[1].innerHTML = '<input type="text" class="form-control input-small" value="' + aData[1] + '">';
					jqTds[2].innerHTML = '<input type="text" class="form-control input-small" value="' + aData[2] + '">';
					jqTds[3].innerHTML = '<input type="text" class="form-control input-small" value="' + aData[3] + '">';
					jqTds[4].innerHTML = '<a class="edit" href="">Save</a>';
					jqTds[5].innerHTML = '<a class="cancel" href="">Cancel</a>';
					}

					function saveRow(oTable, nRow) {
						var jqInputs = $('input', nRow);
						oTable.fnUpdate(jqInputs[0].value, nRow, 0, false);
						oTable.fnUpdate(jqInputs[1].value, nRow, 1, false);
						oTable.fnUpdate(jqInputs[2].value, nRow, 2, false);
						oTable.fnUpdate(jqInputs[3].value, nRow, 3, false);
						oTable.fnUpdate('<a class="edit" href="">Edit</a>', nRow, 4, false);
						oTable.fnUpdate('<a class="delete" href="">Delete</a>', nRow, 5, false);
						oTable.fnDraw();
					}

					function cancelEditRow(oTable, nRow) {
						var jqInputs = $('input', nRow);
						oTable.fnUpdate(jqInputs[0].value, nRow, 0, false);
						oTable.fnUpdate(jqInputs[1].value, nRow, 1, false);
						oTable.fnUpdate(jqInputs[2].value, nRow, 2, false);
						oTable.fnUpdate(jqInputs[3].value, nRow, 3, false);
						oTable.fnUpdate('<a class="edit" href="">Edit</a>', nRow, 4, false);
						oTable.fnDraw();
					}

					var table = $('#sample_editable_1');

					var oTable = table.dataTable({
							"lengthMenu": [
							[5, 15, 20, -1],
							[5, 15, 20, "Records per page"] // change per page values here
							],
							// set the initial value
							"pageLength": 10,

							"language": {
							"lengthMenu": " _MENU_ ",
							"sSearch": ""
							},
							"columnDefs": [{ // set default column settings
							'orderable': true,
							'targets': [0]
							}, {
							"searchable": true,
							"targets": [0]
							}],
							"order": [
							[0, "desc"]
							] // set first column as a default sort by desc
					});

					var tableWrapper = $("#sample_editable_1_wrapper");

					tableWrapper.find(".dataTables_length select").select2({
showSearchInput: false //hide search box with special css class
}); // initialize select2 dropdown

var nEditing = null;
var nNew = false;

$('#sample_editable_1_new').click(function (e) {
		e.preventDefault();

		if (nNew && nEditing) {
		if (confirm("Previose row not saved. Do you want to save it ?")) {
		saveRow(oTable, nEditing); // save
		$(nEditing).find("td:first").html("Untitled");
		nEditing = null;
		nNew = false;

		} else {
		oTable.fnDeleteRow(nEditing); // cancel
		nEditing = null;
		nNew = false;

		return;
		}
		}

		var aiNew = oTable.fnAddData(['', '', '', '', '', '']);
		var nRow = oTable.fnGetNodes(aiNew[0]);
		editRow(oTable, nRow);
		nEditing = nRow;
		nNew = true;
});

table.on('click', '.delete', function (e) {
		e.preventDefault();

		if (confirm("Are you sure to delete this row ?") == false) {
		return;
		}

		var nRow = $(this).parents('tr')[0];
		oTable.fnDeleteRow(nRow);
		alert("Deleted! Do not forget to do some ajax to sync with backend :)");
		});

table.on('click', '.cancel', function (e) {
		e.preventDefault();

		if (nNew) {
		oTable.fnDeleteRow(nEditing);
		nNew = false;
		} else {
		restoreRow(oTable, nEditing);
		nEditing = null;
		}
		});

table.on('click', '.edit', function (e) {
		e.preventDefault();

		/* Get the row as a parent of the link that was clicked on */
		var nRow = $(this).parents('tr')[0];

		if (nEditing !== null && nEditing != nRow) {
		/* Currently editing - but not this row - restore the old before continuing to edit mode */
		restoreRow(oTable, nEditing);
		editRow(oTable, nRow);
		nEditing = nRow;
		} else if (nEditing == nRow && this.innerHTML == "Save") {
		/* Editing this row and want to save it */
		saveRow(oTable, nEditing);
		nEditing = null;
		alert("Updated! Do not forget to do some ajax to sync with backend :)");
		} else {
		/* No edit in progress - lets start one */
		editRow(oTable, nRow);
		nEditing = nRow;
		}
});
$('.dataTables_filter input').attr("placeholder", "Search here to find..");
}
});
});
});
</script>
{{/content}}
{{/extend}}
