{{#extend "mainLayoutPartial"}}
{{#content "head" mode="append"}}
<!-- SWIPER SLIDER -->
<link href="assets/css/layout-datatables.css" rel="stylesheet" type="text/css" />
<link href="https://code.jquery.com/ui/1.11.4/themes/ui-darkness/jquery-ui.css" rel="stylesheet" type="text/css" />
{{/content}}
{{#content "loggedIn"}}
{{> settings_dropdown}} 
{{/content}}
{{#content "mainbody"}}
<section style="background:url('assets/images/demo/wall2.jpg')">
<div class="container">
	{{#if ordernumber}}
	
	<div class="alert alert-success margin-bottom-30"><!-- SUCCESS -->
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">×</span>
			<span class="sr-only">Close</span>
		</button>
		{{#if_eq ord_status 'saved'}}
		<strong>Well done!</strong> You successfully Saved the order {{ordernumber}}. Please make further updates to order by calling 888-888-8888.
		{{else}}
		<strong>Well done!</strong> You successfully Submitted the order {{ordernumber}}. Please make further updates to order by calling 888-888-8888.
		{{/if_eq}}
	</div>

	{{/if}}
	<form id="orderform" method="post" class="validate" action="/order" data-success="Sent! Thank you!" data-toastr-position="top-right">
		<fieldset>
			<div class="row">
				<div class="col-md-6">
					<label for="address">Choose an address nick as Delivery Address</label>
					<select id="address" name="address" class="form-control" required title="Please select a Delivery address" value={{delivery_address}}>
					</select>
				</div>
				<div class="col-md-6">
					<label for="store">Choose a Store for this Order</label>
					<select id="store" name="store" class="form-control" required title="Please select a store">
						{{#if_eq store 'store1'}}
						<option value="store1">Trader Joes Morrisville</option>
						{{else}}
						<option value="store2">Whole Foods Waverly Place</option>
						{{/if_eq}}
						<option value="store1">Trader Joes Morrisville</option>
						<option value="store2">Whole Foods Waverly Place</option>
						
					</select>
				</div>
			</div>	
			<!-- HTML DATATABLE -->
			<table class="table table-striped table-hover table-bordered" id="orderTable">
				<thead>
					<tr id="1">
						<th>Item</th>
						<th>Quantity</th>
						<th>Units</th>
						<th>Brand(if any)</th>
						<th>Comments</th>
					</tr>
				</thead>

				<tbody>

				
					{{#each order.ord_lines}}				
					<tr id="2">
						<td>
							<input type="text" class="autoCompItem itembox form-control input-small" id="item1" name="item" placeholder="Eggs" required value={{name}} >
						</td>
						<td>
							<input type="text" class="form-control qty input-small" id="quantity1" name="quantity" placeholder="24" value={{quantity}}>
						</td>
						<td>
							<select class="form-control" name='uom'>
								<option value={{uom}}>{{uom}}</option>
								<option value="Units">Units</option>
								<option value="lbs">lbs</option>
								<option value="packs">Packs</option>
								<option value="cartons">Cartons</option>
								<option value="gallons">Gallons</option>
								
							</select>

						</td>
						<td>
							<input type="text" class="form-control input-small" id="brand1" name="brand1" placeholder="Eggland" value={{brand}}>
						</td>
						<td>
							<input type="text" class="form-control input-small" id="comment1" name="comments" placeholder="Choose fresh" value={{comments}}>
						</td>
					</tr>	
			{{/each}}
		
					
				</tbody>
			</table>
		</fieldset>
		<div class="row">
			<div class="col-md-8">
				<button type="submit"  name="ord_status" class="btn btn-3d btn-teal btn-lg btn-block margin-top-30" value="submitted">
					SUBMIT ORDER
					<span class="block font-lato">We will get back to you within next 2 hours</span>
				</button>
			</div>
			<div class="col-md-2">
				<button type="submit" name="ord_status" class="btn btn-3d btn-teal btn-lg btn-block margin-top-30" value="saved">
					SAVE ORDER
				</button>
			</div>
			<div class="col-md-2">
				<button type="button" id='addmore' class="btn btn-3d btn-teal btn-lg btn-block margin-top-30">Add more lines</button>
			</div>
		</div>
	</form>
</div>
</section>

{{/content}}
{{#content "scripts" mode="append"}}
<!-- <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> -->
<script type="text/javascript" src="assets/plugins/jquery/jquery-ui.min.js"></script> 
<script type="text/javascript" src="assets/plugins/form.validate/jquery.form.min.js"></script>
<script>
	$(document).ready(function(){
		var dataURL = '/api';
		$.ajax({
			dataType: "json",
			url: dataURL+'/getaddrs',
			success: function(data){
				$.each(data, function(arrayID, adrObj){
					var divData = '<option value='+'"'+adrObj.adr_nick+'">'+adrObj.adr_nick+'</option>';
					$(divData).appendTo("#address");
				});
			}
		});
		$(".autoCompItem").each(function(){
			$(this).autocomplete({
				source: function(request, response){
					$.ajax({
						url: '/api/autocomplete',
						data: {'q': request.term},
						dataType: "json",
						success: function(data){
							response(data);
						}
					});
				},
				focus: function(event, ui){
					$(this).val(ui.item.name);
					return false;
				},
				select: function(event, ui){
					$(this).val(ui.item.name);
					return false;
				}
				}).data("ui-autocomplete")._renderItem = function(ul, item) {
				return $( "<li></li>" )
				.data( "ui-autocomplete-item", item )
				.append( "<a>" + item.name + "</a>" )
				.appendTo( ul );		    
			};
		});
		$("#addmore").on("click", function(){
			var rownum = $('#orderTable tr:last').attr('id')*1+1;
			var rowhtml =' <tr id="' + rownum +'"> '+
				'						<td> '+
					'							<input type="text" class="autoCompItem itembox form-control input-small" name="item" placeholder="Eggs" > '+
					'						</td>  '+
				'						<td> '+ 
					'							<input type="text" class="form-control qty input-small" name="quantity" placeholder="24"> '+ 
					'						</td> '+ 
				'						<td> '+ 
					'							<select class="form-control "> '+
						'								<option value="">Units</option> '+
						'								<option value="lbs">lbs</option> '+
						'								<option value="packs">Packs</option> '+ 
						'								<option value="cartons">Cartons</option> '+ 
						'								<option value="gallons">Gallons</option> '+ 
						'							</select> '+
					'						</td> '+
				'						<td> '+
					'							<input type="text" class="form-control input-small" name="brand" placeholder="Eggland"> '+
					'						</td> '+
				'						<td> '+
					'							<input type="text" class="form-control input-small" name="comments" placeholder="Choose fresh"> '+
					'						</td> '+
				'					</tr>';
			$(rowhtml).appendTo("#orderTable");
			var ipt = $(".autoCompItem");
			$("#orderTable").find(ipt).each(function(){
				$(this).autocomplete({
					source: function(request, response){
						$.ajax({
							url: '/api/autocomplete',
							data: {'q': request.term},
							dataType: "json",
							success: function(data){
								response(data);
							}
						});
					},
					focus: function(event, ui){
						$(this).val(ui.item.name);
						return false;
					},
					select: function(event, ui){
						$(this).val(ui.item.name);
						return false;
					}
					}).data("ui-autocomplete")._renderItem = function(ul, item) {
					return $( "<li>")
					.data( "ui-autocomplete-item", item )
					.append( item.name)
					.appendTo( ul );                
				};
			});
		});
	});
</script>
<script type="text/javascript" src="assets/plugins/form.validate/jquery.validate.js"></script>
<script type="text/javascript" src="assets/plugins/form.validate/additional-methods.js"></script>
<script>
	jQuery.validator.setDefaults({
		success: "valid"
	});
	// in add method return false to indicate error
	jQuery.validator.addMethod("qty", function(value, element){
		if (this.optional(element) && this.optional(jQuery(element).closest('tr').find(".itembox")[0])) {return true;}
		if (!this.optional(element) && !this.optional(jQuery(element).closest('tr').find(".itembox")[0])) {return true;}
		return false;
	}, "please add both item and quantity");
	jQuery().ready(function(){
		jQuery("#orderform").validate({
			rules:{
				address: "required",
				store: "required",
			},
			highlight: function(element, errorClass){
				if (jQuery(element).is("input")){
					jQuery(element).closest('tr').find(".itembox").addClass(errorClass);
					}else{
					alert(jQuery(element).get(0).tagName);
					jQuery(element).addClass(errorClass);	
				}
			}
		});
	});

</script>
{{/content}}
{{/extend}}
